@import url('https://fonts.googleapis.com/css?family="Crimson Pro":400,400i&display=swap&subset=latin-ext');

@font-face {
	font-family: 'Crimson Pro';
    src: url('fonts/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
	font-family: 'Crimson Pro';
    src: url('fonts/CrimsonPro-Italic.ttf') format('truetype');
    font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Crimson Pro';
    src: url('fonts/CrimsonPro-ExtraBold.ttf') format('truetype');
    font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Crimson Pro';
    src: url('fonts/CrimsonPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
	font-style: italic;
}

body {
    font-family: "Crimson Pro", sans-serif;
    font-size: 18px;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}
