@import url('https://fonts.googleapis.com/css?family="Crimson Pro":400,400i&display=swap&subset=latin-ext');

body {
    font-family: "Crimson Pro", sans-serif;
    font-size: 16px;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}
